In [42]:
import requests
import pandas as pd
import defs

In [43]:
session = requests.Session()

In [44]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [45]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [46]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [47]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)
response.status_code

200

In [48]:
data = response.json()
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [49]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [55]:
historical_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']

    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    historical_data.append(new_dict)

historical_data[0]

{'time': '2025-01-31T12:00:00.000000000Z',
 'volume': 6918,
 'mid_o': '1.03759',
 'mid_h': '1.03858',
 'mid_l': '1.03746',
 'mid_c': '1.03826',
 'bid_o': '1.03752',
 'bid_h': '1.03850',
 'bid_l': '1.03738',
 'bid_c': '1.03817',
 'ask_o': '1.03766',
 'ask_h': '1.03865',
 'ask_l': '1.03754',
 'ask_c': '1.03835'}

In [56]:
candles_df = pd.DataFrame.from_dict(historical_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2025-01-31T12:00:00.000000000Z,6918,1.03759,1.03858,1.03746,1.03826,1.03752,1.03850,1.03738,1.03817,1.03766,1.03865,1.03754,1.03835
1,2025-01-31T13:00:00.000000000Z,13401,1.03826,1.03953,1.03768,1.03822,1.03817,1.03946,1.03761,1.03815,1.03834,1.03960,1.03775,1.03829
2,2025-01-31T14:00:00.000000000Z,12228,1.03822,1.03827,1.03664,1.03687,1.03815,1.03819,1.03657,1.03680,1.03830,1.03835,1.03672,1.03694
3,2025-01-31T15:00:00.000000000Z,12472,1.03692,1.04007,1.03604,1.03964,1.03684,1.04000,1.03596,1.03957,1.03699,1.04014,1.03611,1.03972
4,2025-01-31T16:00:00.000000000Z,10352,1.03965,1.04077,1.03861,1.03998,1.03957,1.04069,1.03853,1.03990,1.03973,1.04086,1.03869,1.04006
5,2025-01-31T17:00:00.000000000Z,21469,1.03996,1.04340,1.03905,1.04202,1.03988,1.04332,1.03898,1.04193,1.04004,1.04350,1.03912,1.04210
6,2025-01-31T18:00:00.000000000Z,23693,1.04201,1.04218,1.03615,1.03698,1.04193,1.04210,1.03607,1.03690,1.04209,1.04226,1.03623,1.03706
7,2025-01-31T19:00:00.000000000Z,12102,1.03698,1.03792,1.03646,1.03766,1.03690,1.03784,1.03638,1.03758,1.03705,1.03801,1.03653,1.03774
8,2025-01-31T20:00:00.000000000Z,12474,1.03766,1.03822,1.03630,1.03738,1.03758,1.03815,1.03622,1.03731,1.03773,1.03829,1.03639,1.03745
9,2025-01-31T21:00:00.000000000Z,14491,1.03739,1.03874,1.03500,1.03606,1.03732,1.03865,1.03492,1.03576,1.03746,1.03883,1.03507,1.03637

In [60]:
candles_df.to_pickle("EUR_USD_H1.pkl")
pd.read_pickle("EUR_USD_H1.pkl")

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2025-01-31T12:00:00.000000000Z,6918,1.03759,1.03858,1.03746,1.03826,1.03752,1.03850,1.03738,1.03817,1.03766,1.03865,1.03754,1.03835
1,2025-01-31T13:00:00.000000000Z,13401,1.03826,1.03953,1.03768,1.03822,1.03817,1.03946,1.03761,1.03815,1.03834,1.03960,1.03775,1.03829
2,2025-01-31T14:00:00.000000000Z,12228,1.03822,1.03827,1.03664,1.03687,1.03815,1.03819,1.03657,1.03680,1.03830,1.03835,1.03672,1.03694
3,2025-01-31T15:00:00.000000000Z,12472,1.03692,1.04007,1.03604,1.03964,1.03684,1.04000,1.03596,1.03957,1.03699,1.04014,1.03611,1.03972
4,2025-01-31T16:00:00.000000000Z,10352,1.03965,1.04077,1.03861,1.03998,1.03957,1.04069,1.03853,1.03990,1.03973,1.04086,1.03869,1.04006
5,2025-01-31T17:00:00.000000000Z,21469,1.03996,1.04340,1.03905,1.04202,1.03988,1.04332,1.03898,1.04193,1.04004,1.04350,1.03912,1.04210
6,2025-01-31T18:00:00.000000000Z,23693,1.04201,1.04218,1.03615,1.03698,1.04193,1.04210,1.03607,1.03690,1.04209,1.04226,1.03623,1.03706
7,2025-01-31T19:00:00.000000000Z,12102,1.03698,1.03792,1.03646,1.03766,1.03690,1.03784,1.03638,1.03758,1.03705,1.03801,1.03653,1.03774
8,2025-01-31T20:00:00.000000000Z,12474,1.03766,1.03822,1.03630,1.03738,1.03758,1.03815,1.03622,1.03731,1.03773,1.03829,1.03639,1.03745
9,2025-01-31T21:00:00.000000000Z,14491,1.03739,1.03874,1.03500,1.03606,1.03732,1.03865,1.03492,1.03576,1.03746,1.03883,1.03507,1.03637